@model IEnumerable<Task1ASP.Models.Article>

@* TODO вынеси меню с главной на все в layout *@
@section Menu{
    <div class="navbar-right">
        <div class="item">@Html.ActionLink("Main page", "Articles", "Home")</div>
        <div class="item">@Html.ActionLink("Guest page", "Guest", "Home")</div>
        <div class="item">@Html.ActionLink("Questionnaire", "Questin", "Home")</div>
    </div>
}
@{
    ViewBag.Title = "Main page";
}

@foreach (var item in Model)
{
    <div>
        <dl class="dl-horizontal font-details">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Text, new { htmlAttributes = new { @class = "animals" } })
            </dd>
        </dl>
    </div>
}